<h1>Pictures</h1>
<%= link_to "New Picture", "/pictures/new" %>

<% @pictures.each do |picture| %>
	<p><%= picture [:title] %>, <%= picture[:artist] %></p>
	<%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
<% end %>

<h1>Most recent pictures</h1>
<ul>
	<% @most_recent_pictures.each do |picture| %>
	<li><%= picture.title %></li>
	<li><%= Picture.created_before(1.month.ago) %></li>
	<% end %>
</ul>

<h1>Total pictures more than 1 month old: <%= Picture.created_before(1.month.ago).count %> </h1>